body{
	font-family: Arial;
	background-color: skyblue;
	color: antiquewhite;
	margin: 0;

nav{
	background-color: pink;
	padding: 10px;
}
nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
nav ul li {
	

	margin:  15px;
	
}
nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	
}
	
.container{
	padding: 150px;
	justify-content: center;
	text-align: center;
	
	
}
.profile{
	width: 150px;
	border-radius: 50%;
	margin-top: 20px;
}
	footer{
		text-align: center;
		background-color: hotpink;
	}
		
	
